.moto11 {
    margin-top: 4vw;
}

.frstblock {
    p {
        text-align: left;
        text-indent: 25px;
        font-size: 22pt;
    }
}

.scndblock, .thrdblock{
    margin-top: 4vw;
    p {
        text-align: right;
        text-indent: 25px;
        font-size: 22pt;
    }
}

.thrdblock {
    p {
        text-align: left;
    }
    
    margin-bottom: 6vw;
}